:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
nav {
  padding: 20px 0;
}
.logo{
  width: 150px;
  height: 41.817px;
  font-size: 26px;
  font-family: Playfair Display;
  line-height: 42px;
}
.logo {
  max-height: 80px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 15px;
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}
.hero {
  text-align: center;
  background: white;
  color: black;
  padding: 160px 20px 80px;
}
.hero h1 {
  color: #000;
  font-family: Playfair Display;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero h2 {
  color: #272142;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.hero h3 {
  color: #272142;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-link {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  color: black;
  text-decoration: none;
}

.about-link {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  color: black;
  text-decoration: none;
}
.view-link {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 20px 15px;
}
.view-link:hover {
  color: black;
  text-decoration: none;
}
.project-final {
  padding: 30px 120px;
}
.project-final h2 {
  color: #000;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.project-description {
  padding: 100px 30px;
  text-align: center;
}
.project-description h2 {
  color: #000;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.project-description p {
  color: rgba(39, 33, 66, 0.7);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.change {
  color: rgba(39, 33, 66, 0.7);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

footer {
  margin: 60px 0;
  text-align: center;
}
footer.email-link {
  text-decoration: none;
  color: black;
  font-size: 10px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  border: var(--secondary-color);
  padding: 10px 15px;
}
.text-dark {
  font-family: Poppins;
  font-size: 16px;
}
.container p {
  font-family: Poppins;
  font-size: 16px;
}

.description h2 {
  color: #000;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 250px 600px 250px 144px;
}
.new-container {
  padding: 100px 20px;
}
.myphoto {
  margin: 30px 60px;
}
.content {
  margin: 30px;
}
.content h1 {
  color: #000;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content h2 {
  color: #272142;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px;
}
.content h3 {
  color: #272142;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content p {
  color: rgba(39, 33, 66, 0.7);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.send-link {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border-radius: 4px;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.send-link:hover {
  color: black;
  text-decoration: none;
}

.wp {
  width: 92%;
  margin: -2px;
}
.viewer {
  margin: 180px;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
  .align-link {
    margin: 80px;
  }
  nav ul {
    margin: 30px 120px 0px 120px;
  }
  .play {
    display: none;
  }
  .content {
    text-align: center;
  }
  .a-link {
    margin: 50px;
  }
  .viewer {
    margin: 60px;
  }
  .w-link {
    margin: 150px;
  }
  .wp {
    margin-top: 50px;
  }
}
