:root {
  --primary-color: #888d96;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  background-color: #565857;
}

.navbar-brand {
  width: 150px;
  height: 41.817px;
  font-size: 26px;
  font-family: Playfair Display;
  line-height: 42px;
  color: black;
}
.navbar-brand {
  max-height: 80px;
  margin: 0px 0px 5px 30px;
  padding: 2px;
}
.nav-item {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  color: #888d96;
}
.navbar-nav {
  margin: 20;
  padding: 0;
  font-family: Poppins;
  font-size: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav .nav-item.active a {
  color: var(--primary-color);
}

.hero {
  text-align: center;
  background: white;
  color: black;
  padding: 160px 20px 80px;
  margin: 0;
}
.hero h1 {
  color: #000;
  font-family: Playfair Display;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero h2 {
  color: #9eb7b5;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.hero h3 {
  color: #9eb7b5;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-link {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  color: black;
  text-decoration: none;
}

.about-link {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  color: black;
  text-decoration: none;
}
.view-link {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 20px 15px;
}
.view-link:hover {
  color: black;
  text-decoration: none;
}
.project-final {
  padding: 30px 120px;
}
.project-final h2 {
  color: #dbdee2;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.project-description {
  padding: 100px 30px;
  text-align: center;
}
.project-description h2 {
  color: #dbdee2;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.project-description p {
  color: #dbdee2;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.change {
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

footer {
  margin: 60px 0;
  text-align: center;
}
footer.email-link {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  border: var(--secondary-color);
  padding: 10px 15px;
}
.text-white {
  font-family: Poppins;
  font-size: 16px;
}
.container p {
  font-family: Poppins;
  font-size: 16px;
  color: white;
  opacity: 0.4;
}
.container h6 {
  font-family: Poppins;
  font-size: 12px;
  color: white;
}
footer h6 {
  font-family: Poppins;
  font-size: 12px;
  color: white;
}

.description h2 {
  color: #000;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 250px 600px 250px 144px;
}
.new-container {
  padding: 100px 20px;
}
.myphoto {
  margin: 30px 60px;
}
.content {
  margin: 30px;
}
.content h1 {
  color: #dbdee2;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content h2 {
  color: black;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px;
}
.content h3 {
  color: #9eb7b5;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content p {
  color: white;
  opacity: 0.4;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.send-link {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border-radius: 4px;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.send-link:hover {
  color: black;
  text-decoration: none;
}

.wp {
  width: 92%;
  margin: -2px;
}
.viewer {
  margin: 180px;
}
.content-ct h1 {
  margin: 30px;
  color: #dbdee2;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 992px) {
  .hero,
  .container {
    padding: 45px 10px;
  }

  .align-link {
    margin: 80px;
  }
  nav ul {
    margin: 30px 120px 0px 120px;
  }
  .play {
    display: none;
  }
  .content {
    text-align: center;
  }
  .a-link {
    margin: 50px;
  }
  .viewer {
    margin: 60px;
  }
  .w-link {
    margin: 150px;
  }
  .wp {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 600px) {
  .viewer{
    margin:100px;
  }
  .a-link {
    padding:15px 10px;
    margin:30px;
  }
  .project-final{
    padding: 30px 10px 30px 180px;
  }
}
